/* место для вашего кода */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
    display: block;
    width: 1440px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
header {
  width: 1340px;
  flex-shrink: 0;
  display: grid;
  margin-top: 92px;
  margin-right: 49px;
  margin-left: 51px;
  margin-bottom: 92px;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
}
.header__menu {
  display: flex;
  font-family: "Raleway", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  justify-content: start;
  line-height: normal;
  list-style: circle;
  align-items: center;
  text-underline-offset: 5px;
}
.header__menu__element {
  margin-right: 32px;
  margin-bottom: 1px;
}
.header_main {
  text-decoration: none;
}
.header__logo {
  display: flex;
  width: 148px;
  height: 105px;
  margin-bottom: 4px;
}
.address__container {
  display: flex;
  justify-content: right;
  height: 100%;
  border: 1px;
  align-items: center;
  text-underline-offset: 4px;
  border: 1px;
}
.adresses {
  margin: 0;
  padding: 0;
  font-family: Raleway, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 240px;
}
.cover {
  display: grid;
  grid-template-rows: 50% 50%;
  width: 1440px;
  position: relative;
  flex-shrink: 0;
  background-image: url(../images/cover.jpg);
  background-size: 1440px 757px;
  background-repeat: no-repeat;
  z-index: 1;
  margin-bottom: 180px;
}
.overlay {
  width: inherit;
  position: absolute;
  z-index: -1;
  height: 100%;
  opacity: 0.6;
  background: #000;
  position: absolute;
  flex-shrink: 0;
}

.cover_text {
  margin-top: 165px;
  display: grid;
  z-index: 1;
  color: #fff;
  font-family: Raleway, serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30px;
  margin-left: 50px;
  width: 1340px;
}
.cover_text_biggerspace {
  letter-spacing: 60px;
}
.cover_text_zerospace {
  letter-spacing: 0px;
}
.cover_text_ono {
  margin-bottom: 10px;
}
.cover_text_tebe {
  margin-left: 30px;
  width: 1280px;
  margin-bottom: 2px;
  text-align: center;
}
.cover_text_nado {
  text-align: right;
  width: 1340px;
  margin-bottom: 128px;
}
.text_and_button {
  display: flex;
  z-index: 1;
  justify-content: end;
  align-items: center;
  width: 1440px;
}
.text_before_button {
  display: flex;
  color: #fff;
  text-align: center;
  font-family: Raleway, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-right: 78px;
  word-spacing: 18px;
  margin-bottom: 50px;
}
.button_after_text {
  border: 1px solid #ffffff;
  margin-bottom: 50px;
  padding: 12px 32px;
  flex-shrink: 0;
  color: #fff;
  font-family: Raleway, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 50px;
}
/*.pixel-perfect-image {
  position: absolute;
  top: -93px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  filter: sepia(0.6);
  z-index: 3;
}*/
.lots_title {
  display: flex;
  color: #000;
  font-family: Raleway, serif;
  z-index: 0;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 90px;
  margin-bottom: 27px;
}
.lots_main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1440px;
  margin-top: 80px;
}
.lots_container {
  display: flex;
  position: relative;
  margin-left: 50px;
  margin-top: 0px;
  width: 1340px;
  flex-shrink: 0;
  justify-content: space-between;
  vertical-align: top;
  text-underline-offset: 3px;
}
.lots1 {
  background-image: url(../images/card-lot-01.jpg);
}
.lots2 {
  background-image: url(../images/card-lot-02.jpg);
}
.lots3 {
  background-image: url(../images/card-lot-03.jpg);
}
.lots {
  width: 430px;
  display: grid;
  grid-template-columns: 430px;
  grid-template-rows: 160px 1fr;
  flex-shrink: 0;
  margin-right: 25px;
  z-index: 1;
  background-position: center;
  background-size: cover;
}
.lots_h {
  z-index: 3;
  position: relative;
  margin: 50px 40px 0px 40px;
  color: #fff;
  font-family: Raleway, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.lots_p {
  z-index: 2;
  display: flex;
  width: 350px;
  margin-left: 40px;
  color: #fff;
  font-family: Raleway, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  align-self: self-end;
  margin-bottom: 50px;
}
.a_lots {
  display: flex;
  text-decoration: none;
}
.see_more {
  display: flex;
  margin-top: 30px;
  margin-left: 90px;
  color: #000;
  font-family: Raleway, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-underline-offset: 4px;
}
.about_section {
  display: grid;
  margin-top: 180px;
  grid-template-columns: 430px 1fr;
  width: 1340px;
  margin-left: 50px;
}
.column_logo {
  width: 240px;
  display: flex;
  margin-right: 25px;
  margin-left: 95px;
  height: 240px;
  margin-top: -1px;
  background-color: #000;
  justify-content: center;
  border-radius: 50%;
}
.about_img {
  z-index: 1;
  width: 148px;
  height: 114px;
  flex-shrink: 0;
  margin: 63px 46px;
}
.about_h {
  color: #000;
  margin-left: 25px;
  font-family: Raleway, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 100px;
}
.about_p {
  display: flex;
  margin-left: 25px;
  color: #000;
  font-family: Raleway, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 885px;
  flex-shrink: 0;
  margin-bottom: 25px;
}
.footer {
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: 240px 149px 240px;
  grid-template-rows: 1fr;
  justify-content: space-between;
  align-items:start;
  flex-shrink: 0;
  margin-bottom: 90px;
  margin-top: 157px;
  justify-content: space-between;
  text-underline-offset: 4px;
}
.footer_adress_list {
  color: #000;
  font-family: Raleway, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  text-underline-offset: 3px;
}
.footer_menu {
  flex-shrink: 0;
  color: #000;
  display: flex;
  text-align: center;
  font-family: Raleway, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: start;
}
.footer_list {
  list-style-type: none;
}

.footer_socials {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: start;
}
.footer_img{
  height: 48px;
  width: 48px;
}

.footer_main {
  text-decoration: none;
}
